body {
	font-family: Raleway;
	margin: 20px;
}

#loading {
	display: none;
}

div {
	min-width: 1px;
	min-height: 1px;
}

input {
	display: inline;
}

img {
	max-width: 100%;
}

h2 {
	text-align: center;
}

.movie-poster {
	max-height: 400px;
}

#movie1 img {
	text-align: center;
}

/* CSS for movie picker
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
	text-align: center;
	padding: 40px 0;
}

.header {
	min-height: 200px;
}
 
.header-image {
	position: relative;
}
.header-image img {
	opacity: .45;
	border: 0 none;
 	min-height: 200px;	
}
 
.header-image h4 {
	position: absolute;
	bottom: 20px;	
	color: #808080;
	margin-left: 42%;
}

#movie1, #movie2 {
	text-align: justify;
	color: #808080;
}
.ttl-archive {
	color: #808080;
}
th, td {
	color: #808080;
}