body {
	font-family: Raleway;
	margin: 20px;
}

#loading {
	display: none;
}

div {
	min-width: 1px;
	min-height: 1px;
}

input {
	display: inline;
}

img {
	max-width: 100%;
}

h2 {
	text-align: center;
}

.movie-poster {
	max-height: 350px;
	min-height: 200px;
	text-align: center;
	margin-bottom: 15px;
}

td:first-child {
	font-weight: bold;
}

section {
	text-align: center;
	padding: 20px 0;
}

.header {
	min-height: 200px;
}
 
.header-image {
	position: relative;
}
.header-image img {
	opacity: .45;
	border: 0 none;
 	min-height: 200px;	
}
 
.header-image h4 {
	position: absolute;
	bottom: 20px;	
	color: #808080;
	margin-left: 42%;
}

#movie2, #movie2 {
	color: #808080;
	position: relative;
}

th, td {
	color: #808080;
}

#remove-movie1, #remove-movie2 {
	float: right;
	margin-left: 5px;
	margin-top: -10px;
}

.removal-button {
	cursor: pointer;
}

form {
	margin-bottom: 0;
}