body {
	font-family: Raleway;
	margin: 20px;
}

#loading {
	display: none;
}

div {
	min-width: 1px;
	min-height: 1px;
}

input {
	display: inline;
}

img {
	max-width: 100%;
}

h2 {
	text-align: center;
}

.movie-poster {
	max-height: 350px;
	min-height: 200px;
	text-align: center;
	margin-bottom: 15px;
}

td:first-child {
	font-weight: bold;
}

section {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0;
}

.header {
	min-height: 200px;
}
 
.header-image {
	position: relative;
}
.header-image img {
	opacity: .45;
	border: 0 none;
 	min-height: 200px;	
}
 
.header-image h4 {
	position: absolute;
	bottom: 20px;	
	color: #808080;
	margin-left: 42%;
}

#movie2, #movie2 {
	color: #808080;
	position: relative;
}

th, td {
	color: #808080;
}

#remove-movie1, #remove-movie2 {
	float: right;
	margin-left: 5px;
	margin-top: -10px;
}

.removal-button {
	cursor: pointer;
}

form {
	margin-bottom: 0;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#scoreResult {
	font-size: 20px;
	font-weight: bold;
	color: red;
}